/* -----------------------------------

CSS Table OF CONTENTS*

#GLOBAL CSS 
  #BODY
  #TYPOGRAPHY
  #LINKS
  #BOTTUNS

  ----------------------------------------------- */
/* BODY */
body {
  font-family: classico-urw, sans-serif;
  font-size: 100%;
  line-height: 1.4em;
  color: #391006; }

/* HEADINGS */
h1, h2, h3 {
  font-family: "miller-banner, serif";
  margin: .5em 0;
  font-weight: 400; }

h1 {
  font-size: 3em;
  line-height: 1; }

h2 {
  font-size: 2em;
  line-height: 1.1; }

h3 {
  font-size: 1.5em;
  line-height: 1.2; }

p {
  max-width: 35em; }

/* LINKS */
a {
  color: white; }

a:hover {
  color: #1a0d05; }

/* HORIZONTAL RULE */
hr {
  border: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.15);
  margin: 1em 0; }

/* HELPER */
.sectionhead {
  font-family: "miller-banner, serif";
  font-size: 2.5em;
  text-align: center;
  line-height: 1.5em;
  margin-top: 2em; }

.sectionhead:after {
  display: block;
  content: "";
  width: 50px;
  margin: 1em auto 0 auto; }

/* BUTTONS */
button,
.button {
  font-size: inherit;
  font-family: "miller-banner, serif";
  background-color: #938564;
  line-height: 1;
  color: #fff;
  padding: 1em 2em;
  display: inline-block;
  margin: .5em;
  border-radius: 2%;
  cursor: pointer; }
  button:hover,
  .button:hover {
    background-color: #1a0d05;
    color: #fff;
    border-color: #1a0d05; }
  button.alt,
  .button.alt {
    color: #1a0d05;
    background-color: #fff; }
    button.alt:hover,
    .button.alt:hover {
      background-color: #1a0d05;
      color: #fff;
      border-color: #1a0d05; }

/* Responsive Images */
img {
  max-width: 100%;
  height: auto; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 87.5%;
  margin: 0; }

.container {
  padding: 0 4%;
  margin: 0 auto; }

@media (min-width: 768px) {
  body {
    font-size: 100%; } }

@media (min-width: 1050px) {
  .container {
    max-width: 1050px; } }

@media (min-width: 1250px) {
  body {
    font-size: 112.5%; }
  .container {
    max-width: 1250px; } }

/* GRID */
.row .column {
  margin-bottom: 3%; }

@media (min-width: 768px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: -1.5%;
    margin-right: -1.5%; }
    .row.swap {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
    .row.center {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .row .column {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      margin: 1.5%; }
      .row .column.one-half {
        width: 47%; }
      .row .column.one-third {
        width: 30.3333%; }
      .row .column.two-thirds {
        width: 63.6666%; }
      .row .column.one-fourth {
        width: 22%; } }

.row .column h4 {
  padding: 1em;
  text-align: center;
  color: #938564; }

/* site header and footer */
.site-header {
  background-color: white;
  /*padding-top: 1em; */ }
  .site-header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .site-header h1 {
    font-family: classico-urw, sans-serif;
    font-size: 1.5em; }
  .site-header a {
    color: rgba(82, 78, 24, 0.623);
    text-decoration: none; }

.icon-nav-item img {
  min-width: 20px; }

.site-nav a {
  white-space: nowrap; }

/* Site Footer */
.site-footer {
  background-color: white;
  padding-top: 1em;
  color: #938564;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .site-footer h1 {
    font-family: classico-urw, sans-serif;
    font-size: 1.5em; }
  .site-footer a {
    color: rgba(82, 78, 24, 0.623);
    text-decoration: none; }

.site-nav ul {
  margin: 0;
  padding-top: 5%;
  padding-bottom: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.site-nav a {
  display: block;
  padding: 1em; }

/* GENERAL STRUCTURE */
section {
  padding-top: 3em; }

body {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(white), to(rgba(255, 255, 255, 0))), url("../img/BG-long-white.png");
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0)), url("../img/BG-long-white.png");
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0)), url("../img/BG-long-white.png");
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0)), url("../img/BG-long-white.png");
  background-repeat: no-repeat;
  background-size: cover; }

/* Hero Sections */
.hero {
  background-color: lightpink;
  background-size: cover;
  text-align: center;
  color: white; }
  .hero h1 {
    font-size: 4em;
    margin-bottom: 0; }
  .hero p {
    text-align: center;
    max-width: none; }

.home .hero {
  padding: .8em 1em 20em 1em;
  text-align: right;
  background-image: url("../img/deadsea.jpg"); }
  .home .hero p {
    text-align: right;
    font-style: italic; }

/* ABOUT SECTION */
#about .one-half.column h3 {
  margin-top: 0;
  padding-top: 0;
  font-style: italic; }

/* PRODUCT SECTION */
.products-hero .container {
  background-image: url("../img/about-olive.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 0;
  width: 100%; }

.products-hero h1 {
  text-align: center;
  color: white;
  padding: 3em 1em;
  font-size: 4em;
  margin: 0 auto; }

#products .two-third.column h3 {
  font-style: italic; }

/* PRODUCTS PAGE */
#products-text .container {
  margin: 0 auto;
  max-width: 700px;
  text-align: center; }
  #products-text .container p {
    text-align: left; }

#line-up .row .two-third.column {
  margin: 0 auto;
  text-decoration: none; }

.row.three .one-third.column .liquid a {
  color: #938564;
  text-decoration: none; }

.row.three .one-third.column .liquid a:hover {
  color: #391006; }

.row.four a {
  text-decoration: none; }

/* CONTACT SECTION */
#contact .one-half.column address {
  font-size: 1.2em;
  line-height: 1.5em;
  font-style: normal; }

/* CONTACT FORM */
#contact-form .container {
  margin: 80px auto;
  max-width: 500px;
  padding: 50px 0; }
  #contact-form .container p {
    color: #391006; }
  #contact-form .container hr {
    text-align: center;
    padding: 10px auto;
    color: #391006; }
  #contact-form .container .search input {
    font-size: 1.5em;
    line-height: 1.5em;
    font-family: classico-urw, sans-serif;
    color: #391006;
    width: 100%;
    height: 10%; }
    #contact-form .container .search input input {
      width: 100%;
      border-bottom: 1px solid gray;
      border-right: none;
      border-left: none;
      border-top: none;
      padding: 1em 0;
      margin-bottom: 2em; }
  #contact-form .container .contact-one .contact-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #contact-form .container .contact-one .contact-two h3 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: left;
      margin: 0 auto 0 0; }
    #contact-form .container .contact-one .contact-two li {
      width: 35px;
      height: 35px;
      background-image: 100%;
      background-repeat: no-repeat;
      overflow: hidden;
      color: rgba(104, 103, 103, 0);
      list-style: none; }

/* SOCIAL MEDIA ICONS */
.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  margin: 2px; }
  .social-links ul {
    text-align: center; }
  .social-links li a {
    width: 35px;
    height: 35px;
    background-image: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    color: rgba(104, 103, 103, 0); }
  .social-links .social-links:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px); }

/* CONTACT PAGE */
#text-form .container {
  max-width: 600px;
  border: 2px solid #391006;
  border-radius: 30px;
  padding: 2em;
  margin-bottom: 100px; }

#text-form hr {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

#text-form input, #text-form textarea {
  font-size: 1em;
  line-height: 1.5em;
  font-family: classico-urw, sans-serif;
  color: #391006; }

#text-form ::-webkit-input-placeholder {
  color: #391006;
  opacity: .7; }

#text-form :-ms-input-placeholder {
  color: #391006;
  opacity: .7; }

#text-form ::-ms-input-placeholder {
  color: #391006;
  opacity: .7; }

#text-form ::placeholder {
  color: #391006;
  opacity: .7; }

#text-form label {
  display: block; }

#text-form input {
  width: 100%;
  border-bottom: 1px solid gray;
  border-right: none;
  border-left: none;
  border-top: none;
  padding: 1em 0;
  margin-bottom: 2em; }

#text-form textarea {
  width: 100%;
  height: 10em;
  margin: 20px 0 50px; }

#text-form p {
  margin-bottom: 0;
  font-size: 1.2em; }

#text-form .send-button img {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px; }

/* ACCOUNT PAGE */
#account-page ::-webkit-input-placeholder {
  font-size: .5em;
  line-height: 1.5em;
  font-family: classico-urw, sans-serif;
  color: #391006;
  opacity: .7; }
#account-page :-ms-input-placeholder {
  font-size: .5em;
  line-height: 1.5em;
  font-family: classico-urw, sans-serif;
  color: #391006;
  opacity: .7; }
#account-page ::-ms-input-placeholder {
  font-size: .5em;
  line-height: 1.5em;
  font-family: classico-urw, sans-serif;
  color: #391006;
  opacity: .7; }
#account-page ::placeholder {
  font-size: .5em;
  line-height: 1.5em;
  font-family: classico-urw, sans-serif;
  color: #391006;
  opacity: .7; }
  #account-page ::-webkit-input-placeholder input {
    font-size: 1em;
    line-height: 1.5em;
    font-family: classico-urw, sans-serif;
    color: #391006; }
  #account-page :-ms-input-placeholder input {
    font-size: 1em;
    line-height: 1.5em;
    font-family: classico-urw, sans-serif;
    color: #391006; }
  #account-page ::-ms-input-placeholder input {
    font-size: 1em;
    line-height: 1.5em;
    font-family: classico-urw, sans-serif;
    color: #391006; }
  #account-page ::placeholder input {
    font-size: 1em;
    line-height: 1.5em;
    font-family: classico-urw, sans-serif;
    color: #391006; }

#account-page .row {
  padding: 0 10% 10%;
  padding-right: 10%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #account-page .row .one-half.column {
    padding: 0 20px; }
    #account-page .row .one-half.column button.sign-in.regster a {
      text-decoration: none; }
    #account-page .row .one-half.column h3 {
      text-align: center;
      font-style: italic; }
    #account-page .row .one-half.column fieldset {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: 300px;
      border-radius: 2%; }
      #account-page .row .one-half.column fieldset p {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: center;
        margin: 0 auto; }
      #account-page .row .one-half.column fieldset legend {
        font-family: "miller-banner, serif";
        font-size: 1.5em;
        text-transform: uppercase;
        padding-bottom: 20px; }
      #account-page .row .one-half.column fieldset input {
        font-size: 2em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 1% auto 3%; }
      #account-page .row .one-half.column fieldset ::-webkit-input-placeholder {
        color: classico-urw, sans-serif;
        padding-top: 0; }
      #account-page .row .one-half.column fieldset :-ms-input-placeholder {
        color: classico-urw, sans-serif;
        padding-top: 0; }
      #account-page .row .one-half.column fieldset ::-ms-input-placeholder {
        color: classico-urw, sans-serif;
        padding-top: 0; }
      #account-page .row .one-half.column fieldset ::placeholder {
        color: classico-urw, sans-serif;
        padding-top: 0; }
      #account-page .row .one-half.column fieldset .clickbox p input {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 250px; }
      #account-page .row .one-half.column fieldset button.sign-in, #account-page .row .one-half.column fieldset button.register, #account-page .row .one-half.column fieldset a {
        color: white;
        text-decoration: none; }

/* CART PAGE */
#shopping-cart {
  margin: 50px auto 100px; }

.contact-one img,
.contact-two img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right; }

.contact-two h3 {
  color: #391006; }
