/* -----------------------------------

CSS Table OF CONTENTS*

#GLOBAL CSS 
  #BODY
  #TYPOGRAPHY
  #LINKS
  #BOTTUNS

  ----------------------------------------------- */
/* BODY */
body {
  font-family: classico-urw, sans-serif;
  font-size: 100%;
  line-height: 1.4em;
  color: #391006; }

/* HEADINGS */
h1, h2, h3 {
  font-family: "miller-banner, serif";
  margin: .5em 0;
  font-weight: 400; }

h1 {
  font-size: 3em;
  line-height: 1; }

h2 {
  font-size: 2em;
  line-height: 1.1; }

h3 {
  font-size: 1.5em;
  line-height: 1.2; }

p {
  max-width: 35em; }

/* LINKS */
a {
  color: #79d131; }

a:hover {
  color: #82ac3e; }

/* HORIZONTAL RULE */
hr {
  border: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.15);
  margin: 1em 0; }

/* HELPER */
.sectionhead {
  font-family: "miller-banner, serif";
  font-size: 2.5em;
  text-align: center;
  line-height: 1.5em;
  margin-top: 2em; }

.sectionhead:after {
  display: block;
  content: "";
  width: 50px;
  margin: 1em auto 0 auto; }

/* BUTTONS */
button,
.button {
  font-size: inherit;
  font-family: classico-urw, sans-serif;
  background-color: #79d131;
  line-height: 1;
  color: #fff;
  padding: 1em 2em;
  display: inline-block;
  margin: .5em;
  border: 1px solid #79d131;
  border-radius: 2em;
  cursor: pointer; }
  button:hover,
  .button:hover {
    background-color: #82ac3e;
    color: #fff;
    border-color: #82ac3e; }
  button.alt,
  .button.alt {
    color: #82ac3e;
    background-color: #fff; }
    button.alt:hover,
    .button.alt:hover {
      background-color: #82ac3e;
      color: #fff;
      border-color: #82ac3e; }

/* Responsive Images */
img {
  max-width: 100%;
  height: auto; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 87.5%;
  margin: 0; }

.container {
  padding: 0 4%;
  margin: 0 auto; }

@media (min-width: 768px) {
  body {
    font-size: 100%; } }

@media (min-width: 1050px) {
  .container {
    max-width: 1050px; } }

@media (min-width: 1250px) {
  body {
    font-size: 112.5%; }
  .container {
    max-width: 1250px; } }

/* GRID */
.row .column {
  margin-bottom: 2%; }

@media (min-width: 768px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: -1%;
    margin-right: -1%; }
    .row.swap {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
    .row.center {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .row .column {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      margin: 1%; }
      .row .column.one-half {
        width: 48%; }
      .row .column.one-third {
        width: 31.3333%; }
      .row .column.two-thirds {
        width: 64.6666%; }
      .row .column.one-fourth {
        width: 23%; } }

.row .column h4 {
  padding: 1em;
  text-align: center;
  color: #938564; }

/* site header and footer */
.site-header {
  background-color: white;
  /*padding-top: 1em; */ }
  .site-header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .site-header h1 {
    font-family: classico-urw, sans-serif;
    font-size: 1.5em; }
  .site-header a {
    color: rgba(82, 78, 24, 0.623);
    text-decoration: none; }

.icon-nav-item img {
  min-width: 20px; }

.site-nav a {
  white-space: nowrap; }

/* Site Footer */
.site-footer {
  background-color: white;
  padding-top: 1em;
  color: #938564;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .site-footer h1 {
    font-family: classico-urw, sans-serif;
    font-size: 1.5em; }
  .site-footer a {
    color: rgba(82, 78, 24, 0.623);
    text-decoration: none; }

.site-nav ul {
  margin: 0;
  padding-top: 5%;
  padding-bottom: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.site-nav a {
  display: block;
  padding: 1em; }

/* GENERAL STRUCTURE */
section {
  padding-top: 3em; }

body {
  background-image: url("../img/BG-long-white.png");
  background-repeat: no-repeat;
  background-size: cover; }

/* Hero Sections */
.hero {
  background-color: lightpink;
  background-size: cover;
  text-align: center;
  color: white; }
  .hero h1 {
    font-size: 4em;
    margin-bottom: 0; }
  .hero p {
    text-align: center;
    max-width: none; }

.home .hero {
  padding: .8em 1em 20em 1em;
  text-align: right;
  background-image: url("../img/deadsea.jpg"); }
  .home .hero p {
    text-align: right;
    font-style: italic; }

/* ABOUT SECTION */
#about h3 {
  margin-top: 0;
  margin-left: 50px;
  padding-top: 0;
  font-style: italic; }

#about p {
  margin-left: 50px; }

.row {
  padding-left: 10%;
  padding-right: 10%; }

/* PRODUCT SECTION */
.products-hero .container {
  background-image: url("../img/about-olive.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 0;
  width: 100%; }

.products-hero h1 {
  text-align: center;
  color: white;
  padding: 3em 1em;
  font-size: 4em;
  margin: 0 auto; }

#products-text .container {
  margin: 0 auto;
  width: 700px;
  text-align: center; }
  #products-text .container p {
    text-align: left; }

#line-up .row .two-third .column .container {
  margin: 0 auto; }

/* CONTACT SECTION */
#contact-form .container {
  margin: 80px auto;
  max-width: 500px;
  padding: 50px 0; }
  #contact-form .container p {
    color: #391006; }
  #contact-form .container hr {
    text-align: center;
    padding: 10px auto;
    color: #391006; }
  #contact-form .container .contact-one .contact-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #contact-form .container .contact-one .contact-two h3 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: left;
      margin: 0 auto 0 0; }
    #contact-form .container .contact-one .contact-two li {
      width: 35px;
      height: 35px;
      background-image: 100%;
      background-repeat: no-repeat;
      overflow: hidden;
      color: rgba(104, 103, 103, 0);
      list-style: none; }

.search input {
  font-size: 2.8em; }

/* SOCIAL MEDIA ICONS */
.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  margin: 2px; }
  .social-links ul {
    text-align: center; }
  .social-links li a {
    width: 35px;
    height: 35px;
    background-image: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    color: rgba(104, 103, 103, 0); }
  .social-links .social-links:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px); }

/* CONTACT FORM */
#text-form .text-flame .container {
  width: 800px;
  height: 800px;
  border: 2px solid #391006;
  border-radius: 10%;
  padding-bottom: 50px;
  margin-bottom: 100px; }
  #text-form .text-flame .container input textarea hr {
    padding-left: 50px; }
  #text-form .text-flame .container input {
    font-size: 3em;
    border-bottom: 1px solid gray;
    border-right: none;
    border-left: none;
    border-top: none; }
  #text-form .text-flame .container textarea {
    width: 545px;
    height: 10em;
    line-height: 2em;
    margin: 50px 0;
    color: #391006;
    font-family: classico-urw, sans-serif;
    font-size: 1.2em; }
  #text-form .text-flame .container p {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 1.2em; }
  #text-form .text-flame .container .send-buttom a {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

/* ACCOUNT PAGE */
#sign-in fieldset {
  width: 800px;
  margin: 100px auto 200px; }
  #sign-in fieldset legend {
    font-family: classico-urw, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    padding-bottom: 20px; }
  #sign-in fieldset input {
    padding-top: 30px;
    font-size: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto; }
