/* site header and footer */

.site-header {
    background-color: white;
    /*padding-top: 1em; */
   
    .container {
        display: flex;
        justify-content: space-between;
    }
    h1 {
        font-family: $body-fontfamily;
        font-size: 1.5em; 
    }
    a {
        color: rgba(82, 78, 24, 0.623);
        text-decoration: none;  
    }
}
    .icon-nav-item img {
        min-width: 20px;
    }
    .site-nav a {
        white-space: nowrap;
    }

/* Site Footer */
.site-footer {
    background-color: white;
    padding-top: 1em;
    color: #938564;
    display: flex;
    justify-content: center;

    h1 {
        font-family: $body-fontfamily;
        font-size: 1.5em;
    }
    a {
        color: rgba(82, 78, 24, 0.623);
        text-decoration: none;
    }
} 

.site-nav {
   ul {
       margin: 0;
       padding-top: 5%;
       padding-bottom: 0;
       list-style: none;
       display: flex;
}
 a {
    display: block;
    padding: 1em; 
  }
}
/* GENERAL STRUCTURE */
 section {
     padding-top: 3em;
 } 

 body {
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0)), url("../img/BG-long-white.png");
    background-repeat: no-repeat;
    background-size: cover; 
} 


/* Hero Sections */
.hero {
    background-color: $color-hero-bg;
    background-size: cover;
    text-align: center;
    color: white;

    h1 {
        font-size: 4em;
        margin-bottom: 0;
    }
    p {
        text-align: center;
        max-width: none;
    }
}

.home .hero {
    padding: .8em 1em 20em 1em;
    text-align: right;
    background-image: url('../img/deadsea.jpg');
    p {
        text-align: right;
        font-style: italic;
    }
}

/* ABOUT SECTION */
    #about .one-half.column {
        h3 { 
    margin-top: 0;
   
    padding-top: 0; 
    font-style: italic;
}
}
        

/* PRODUCT SECTION */
.products-hero {
    .container {
    background-image: url("../img/about-olive.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 0;
    width: 100%;
   }
    h1 {
        text-align: center; 
        color: white; 
        padding: 3em 1em;
        font-size: 4em;
        margin: 0 auto;
    }
    }
    #products {
        .two-third.column {
            h3 {
                font-style: italic;
            }
        }
    }

    /* PRODUCTS PAGE */
#products-text .container {
      margin: 0 auto;
      max-width: 700px;
      text-align: center;
      p {
          text-align: left;
      }
    }
#line-up {
    .row {
.two-third.column {
       margin: 0 auto;
       text-decoration: none;     
}} }
.row.three {
    .one-third.column {

.liquid a{
    color:#938564;
    text-decoration: none; 
    }
    .liquid a:hover {
        color: $color-text-body;
    }
}}
 
.row.four a{
    text-decoration: none;
}

/* CONTACT SECTION */
#contact .one-half.column {
    address {
        font-size: 1.2em;
        line-height: 1.5em;
        font-style: normal;
    }
}

/* CONTACT FORM */
 #contact-form {
.container {
        margin: 80px auto;
        max-width: 500px; 
        padding: 50px 0;  
        p {
            color: $color-text-body; 
        }
         hr {
            text-align: center;
            padding: 10px auto;
            color: $color-text-body;
         }  
         .search input {
            font-size: 1.5em;
            line-height: 1.5em;
            font-family: $body-fontfamily;
            color: $color-text-body;
            width: 100%;
            height: 10%; 
            input {
                width: 100%;
                border-bottom: 1px solid gray;
                border-right: none;
                border-left: none;
                border-top: none;
                padding: 1em 0;
                margin-bottom: 2em;
             }
         }       
 
.contact-one .contact-two {
    display: flex;
    justify-content: center;
     h3 {
        display: flex;
         text-align: left;
         margin: 0 auto 0 0;
     }         
    li {
        width: 35px;
        height: 35px;
        background-image: 100%;
        background-repeat: no-repeat;
        overflow: hidden;
        color: rgba(104, 103, 103, 0);
        list-style: none;
 } }} }  
 
/* SOCIAL MEDIA ICONS */
.social-links {
    display: flex;
    transition: .3s;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 2px;
    ul {
        text-align: center; 
    }
 
li a {
    width: 35px;
    height: 35px;
    background-image: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    color: rgba(104, 103, 103, 0);
}

  .social-links:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

/* CONTACT PAGE */
 
#text-form  {
    .container {
        max-width: 600px; 
        border: 2px solid $color-text-body;
        border-radius: 30px;
        padding: 2em;
        margin-bottom: 100px;
    }
   hr {
    margin: 0 auto;
    display: flex;
   }

   input, textarea {
    font-size: 1em;
    line-height: 1.5em;
    font-family: $body-fontfamily;
    color: $color-text-body;
   }

   ::placeholder {
       color: $color-text-body;
       opacity: .7;
   }

   label {
       display: block;
   }
    input {
       width: 100%;
       border-bottom: 1px solid gray;
       border-right: none;
       border-left: none;
       border-top: none;
       padding: 1em 0;
       margin-bottom: 2em;
    }
    textarea {
        width: 100%;
        height: 10em;
        margin: 20px 0 50px;
    }
    p {
        margin-bottom: 0;
        font-size: 1.2em;
    }  
    .send-button img {
        margin: 0 auto;
        display: flex;
        width: 100px;
    }}


/* ACCOUNT PAGE */


#account-page ::placeholder{
    font-size: .5em;
    line-height: 1.5em;
    font-family: $body-fontfamily;
    color: $color-text-body;
    opacity: .7;
    input {
        font-size: 1em;
        line-height: 1.5em;
        font-family: $body-fontfamily;
        color: $color-text-body;
    }}

#account-page .row {
   padding: 0 10% 10%;
   padding-right: 10%;
   justify-content: space-between;
   align-items: center;

.one-half.column {
   padding: 0 20px;
   button.sign-in.regster a {
   text-decoration: none;
  }
h3 {
    text-align: center;
    font-style: italic;
   }
fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    border-radius: 2%;
 p {
    display: flex;
    text-align: center;
    margin: 0 auto;
        }
       
legend {
    font-family: $heading-fontfamily;
    font-size: 1.5em;  
    text-transform: uppercase;
    padding-bottom: 20px;
        }
        input {
            
            font-size:2em;
            display: flex;
            padding: 1% auto 3%; 
        }
        ::placeholder {
            color: $body-fontfamily;
            padding-top: 0;
        }
        .clickbox p input {
            display: flex;
            max-width: 250px;    
        }
        button.sign-in, button.register, a {
            color: white;
            text-decoration: none;   
        }
    }}} 
   


    /* CART PAGE */
    #shopping-cart {
        margin: 50px auto 100px;
       
    }
.contact-one img,
.contact-two img {
    display: flex;
    float: right;    
}

.contact-two h3 {
    color: #391006;
}
