/* site header and footer */

.site-header {
    background-color: white;
    /*padding-top: 1em; */
   
    .container {
        display: flex;
        justify-content: space-between;
    }

    h1 {
        font-family: $body-fontfamily;
        font-size: 1.5em; 
    }

    a {
        color: rgba(82, 78, 24, 0.623);
        text-decoration: none;  
    }
}

    .icon-nav-item img {
        min-width: 20px;
    }
    .site-nav a {
        white-space: nowrap;
    }


/* Site Footer */
.site-footer {
    background-color: white;
    padding-top: 1em;
    color: #938564;
    display: flex;
    justify-content: center;

    h1 {
        font-family: $body-fontfamily;
        font-size: 1.5em;
    }
    a {
        color: rgba(82, 78, 24, 0.623);
        text-decoration: none;
    }
} 

.site-nav {
   ul {
       margin: 0;
       padding-top: 5%;
       padding-bottom: 0;
       list-style: none;
       display: flex;
}
 a {
    display: block;
    padding: 1em; 
  }
}

 section {
     padding-top: 3em;
 } 

 body {
    background-image: url("../img/BG-long-white.png");
    background-repeat: no-repeat;
    background-size: cover; 
} 


/* Hero Sections */

.hero {
    background-color: $color-hero-bg;
    background-size: cover;
    text-align: center;
    color: white;

    h1 {
        font-size: 4em;
        margin-bottom: 0;
    }
    p {
        text-align: center;
        max-width: none;
    }
}

.home .hero {
    padding: .8em 1em 20em 1em;
    text-align: right;
    background-image: url('../img/deadsea.jpg');

    p {
        text-align: right;
        font-style: italic;
    }
}

/* ABOUT SECTION */
    #about h3 {
    margin-top: 0;
    margin-left: 50px;
    padding-top: 0;
    font-style: italic;
}
#about p {
    margin-left: 50px;

}

.row {
    padding-left: 10%;
    padding-right: 10%;
}


/* PRODUCT SECTION */
.products-hero {
    .container {
    background-image: url("../img/about-olive.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 0;
    width: 100%;
   
   }
    h1 {
        text-align: center; 
        color: white; 
        padding: 3em 1em;
        font-size: 4em;
        margin: 0 auto;
    }
    }


#products-text .container {
      margin: 0 auto;
      width: 700px;
      text-align: center;
      p {
          text-align: left;
      }
    }
#line-up {
    .row {

.two-third .column {
    .container {
        margin: 0 auto;
    }
}
    } }

/* CONTACT SECTION */
#contact-form {
.container {
        margin: 80px auto;
        max-width: 700px; 
        padding: 50px 0;           
}  
.plus-icon {
    display: flex;
    justify-content: right;
    align-items: right;
} 
     p {
         text-align: left;
         margin-top: 0;
         margin-bottom: 10px;
              
}
.plus-icon img {
    min-width: 20px;
}
     hr {
        text-align: center;
        margin-top: 0 0 20px;
        color: $color-text-body;
     }
}

/* SOCIAL MEDIA ICONS */
.social-links {
    display: flex;
    transition: .3s;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 2px;
    ul {
        text-align: center; 
    }
 
li a {
    width: 35px;
    height: 35px;
    background-image: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    color: rgba(104, 103, 103, 0);
}

  .social-links:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}