/* site header and footer */

.site-header {
    background-color: white;
    padding-top: 1em;
   
    .container {
        display: flex;
        justify-content: space-between;
    }

    h1 {
        font-family: $body-fontfamily;
        font-size: 1.5em; 
    }

    a {
        color: rgba(82, 78, 24, 0.623);
        text-decoration: none;  
    }
   
} 
.icon-nav-items a {
    margin-bottom: 10px;
        padding-right: 20px;
    }

/* Site Footer */
.site-footer {
    background-color: white;
    padding-top: 1em;
    color: #938564;
    display: flex;
    justify-content: center;

    h1 {
        font-family: $body-fontfamily;
        font-size: 1.5em;
    }

    a {
        color: rgba(82, 78, 24, 0.623);
        text-decoration: none;
    }
} 

.site-nav {
   ul {
       margin: 0;
       padding-top: 5%;
       padding-bottom: 0;
       list-style: none;
       display: flex;
}

/* a {
    display: block;
    padding: 1em; 
  }
} */
 section {
     padding-top: 3em;
 } 

 body {
    background-image: url("../img/BG-long-white.png");
    background-repeat: no-repeat;
    background-size: cover; 
} 

/* Hero Sections *

.hero {
    background-color: $color-hero-bg;
    background-size: cover;
    text-align: center;
    color: white;

    h1 {
        font-size: 4em;
        margin-bottom: 0;
    }

    p {
        text-align: center;
        max-width: none;
    }
}


.home .hero {
    padding: .8em 1em 20em 1em;
    text-align: right;
    background-image: url('../img/deadsea.jpg');

    p {
        text-align: right;
        font-style: italic;
    }
}

/* ABOUT SECTION */
    #about h3 {
    margin-top: 0;
    margin-left: 50px;
    padding-top: 0;
    font-style: italic;
}
#about p {
    margin-left: 50px;

}

.row {
    padding-left: 10%;
    padding-right: 10%;
}


/* PRODUCT SECTION */
.products {
    h1 {
        text-align: center;
    }
}
.products-top {
    background-image: url("../img/about-olive.jpg");
    
}

.products-content {
    h2 p {
        text-align: center;
    }
}

.p
.two-third .column {
    p {
        padding-left: 100px;

    }
}

/* CONTACT SECTION */
#contact .row .one {
    .one-half .column {
        h2 {
            padding-left: 100px;  
        }
    }  
}


#contact-form {
.container h3 hr {
        margin: 80px 0 50px auto;
}   
}

.social-icons::after {
clear: both;
content:"";
display: block;
    }
}
   